@import "./styles/bootstrap-custom.scss";
@import "./styles/app-variables.scss";

.app-bar {
  height: $app-bar-height;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.draw-menu {
  width: $draw-menu-width;
  height: 100vh;
  top: $app-bar-height;
}

.content-container {
  padding: 1rem;
  margin-left: $draw-menu-width;
  margin-top: $app-bar-height;
}
