@import "../../styles/app-variables.scss";

// -------------Feed contant profile-----------------
$thumb-size: 24px;
$profile-image-size: 100px;
$feed-bar-height: 36px;

.feed-thumb {
  width: $thumb-size;
  height: $thumb-size;
  margin-top: calc((#{$feed-bar-height} - #{$thumb-size}) / 2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.feed-username {
  line-height: $feed-bar-height;
}
