/******************** common ********************/
@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}
body {
  font-family: 'MapoGoldenPier';
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
}

* {
  box-sizing: border-box;
}

p, ol, ul, li, th, td, h3, span, a{
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  user-select: none;
  cursor: pointer;
}

/******************** header ********************/
header {
  padding: 2rem 2rem 0;
  background-color: #f3ebe0;
}

header h1 {
  background-color: #625648;
  color: #fff;
  font-size: 2rem;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}


/******************** nav ********************/
nav {
  background-color: #f3ebe0;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 2rem;
}

nav ul {
  border: 2px solid #625648;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  padding: 0;
  font-size: 0;
}

nav ul li {
  width: 33.333%;
  height: 5rem;
  line-height: 5rem;
  display: inline-block;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #00384c;
  font-size: 1.8rem;
  display: block;
}

nav ul li a::after {
  content: "📄";
}

nav ul li a:hover {
  color: #fff;
  background-color: #947062;
}


/******************** banner ********************/
.banner {
  background-color: #f3ebe0;
}
.banner img {
  padding: 2rem;
}


/******************** article ********************/
article {
  float: left;
  width: calc(100% - 20rem - 2rem);
  margin-right: 2rem;
  margin-top: 2rem;
  border: 1px solid #ddd;
}



/******************** section ********************/
section {
  background-color: #f3ebe0;
  padding: 2rem;
}

section img{
  border-right: 2px solid #313e39;
  border-left: 2px solid #313e39;
}

section p{
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #fff; 
  border: 2px solid #313e39;
  border-top: 0px;
}

section h2 {
  background-color: #313e39;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

section h2 a {
  color: #fff;
  font-size: 1.8rem;
}

section h2 {
  scroll-margin-top: 6rem;
}

section h2>a::after {
  content: " 🍴";
}

section h2 a:hover {
  text-decoration: underline;
}


/* 재료 목록 */
section table {
  text-align: center;
}

section table th, section table td{
  padding: 0.5rem;
  width: 50%;
}

section table th:nth-child(1) {
  border-right: 1px solid #fff;
}

section table td:nth-child(1) {
  border-right: 1px solid #ccc;
}

section h3 {
  margin: 2rem 0 0.5rem;
  text-align: left;
  background-color: #ecda88;
  width: 10rem;
  margin: 4rem 0 1rem;
  text-align: center;
  border-radius: 50px;
  color: #4b3d33;
  padding: 0.5rem;
}

section table th {
  background-color: #eadec2;
}

section table tbody tr:nth-child(2n-1) {
  background-color: #f1f1f1;
}

section table tbody tr:nth-child(2n) {
  background-color: #fff;
}

/* 조리순서 */
section ol li {
  text-align: left;
  counter-increment: rint;
  margin-bottom: 1rem;
}

section ol li::before {
  content: counter(rint) ". ";
  font-weight: bold;
}


/******************** aside ********************/
aside {
  width: 20rem;
  float: left;
  border: 1px solid #ddd;
  background-color: #f3ebe0;
  margin-top: 2rem;
  padding: 2rem;
  position: sticky;
  top: 7rem;
}
aside img {
  display: block;
  width: 16rem;
}



/******************** footer ********************/
footer {
  clear: both;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f3f3f5;
}